/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    --font-light: 'GmarketSansLight';
    --font-medium: 'GmarketSansMedium'; 
    --font-bold: 'GmarketSansBold';
    --font-1px: '0.09vw';
    --font-2px: '0.12vw';
    --font-3px: '0.15vw';
    background: #fff;
}
body::-webkit-scrollbar {  width: 15px; background: rgba(255,255,255,0.1) }
body::-webkit-scrollbar-thumb { background: #000; border-radius: 3px; }
body::-webkit-scrollbar-track { display: none }


/* screen-scroll */
#screen-scroll {
    position: fixed; right: 1vw; top: 1vw;
    width: 60px; height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.5);
    z-index: 1000000;
    font-size: 16px;
}

/* layout */
#wrap {width: 100%; height: 55000px; overflow: hidden;}
#main {width: 100%; overflow: hidden;}
#site {width: 100%; height: 26500px; position: relative; overflow: hidden;}
#animation {width: 100%; overflow: hidden;}
#effect {width: 100%; overflow: hidden;}
#react {}
#contact {}


/* main */
/* m-intro */
.m-intro {width: 100%; height: 100vw; overflow: hidden; position: relative;}
.m-intro .logo h2 {
    font-family: var(--font-bold); 
    font-size: 11.2vw; 
    line-height: 0.8; 
    -webkit-text-stroke: 0.15vw #000; 
    letter-spacing: -10px;
    opacity: 0;
}
.m-intro .logo .logoTop {
    position: absolute;
    z-index: 5; 
    color: #fff;
    animation: logoTop-show 1s 1 ease; animation-fill-mode: forwards;
}
@keyframes logoTop-show {
    0% { opacity: 0; top: 12.3%; left: 20%; }
    100% { opacity: 1; top: 12.3%; left: 8%; }
}
.m-intro .logo .logoBotoom {
    position: absolute;
    color: #000;
    animation: logoBottom-show 1s 200ms 1 ease; animation-fill-mode: forwards;  
}
@keyframes logoBottom-show {
    0% { opacity: 0; top: 23%; left: 20%; }
    100% { opacity: 1; top: 23%; left: 8%; }
}
.m-intro .introduce {
    position: absolute;
    opacity: 0;
    font-size: 1.5vw;
    animation: introduce-show 1s 400ms 1 ease; animation-fill-mode: forwards;  
}
@keyframes introduce-show {
    0% { opacity: 0; top: 38.5%; left: 20%; }
    100% { opacity: 1; top: 38.5%; left: 8%; }
}
.m-intro .borderBox .toRight {
    position: absolute; top: 18.3%; left: 55.2%;
    width: 35vw; height: 0.10vw; 
    background: #000;
    animation: borderR-show 0.8s 1 ease; animation-fill-mode: forwards; 
}
@keyframes borderR-show {
    0% { width: 1vw; }
    100% { width: 35vw; }
}
.m-intro .borderBox .toBottom {
    position: absolute; top: 18.3%; left: 90.5%;
    width: 0.10vw; height: 55vw; 
    background: #000;
    opacity: 0; 
    animation: borderB-show 1.5s 800ms 1 ease; animation-fill-mode: forwards; 
}
@keyframes borderB-show {
    0% { opacity: 1; height: 1vw; }
    100% { opacity: 1; height: 55vw; }
}
.m-intro .borderBox .toBottom:before {
    content: '';
    position: absolute; top: 98%; left: -700%;
    border-top: 0.75vw solid transparent;
    border-right: 1.5vw solid black;
    border-bottom: 0.75vw solid transparent;
    transform: rotate(270deg);
}
.m-intro .borderBox .year {
    position: absolute;
    color: #FF0000;
    opacity: 0;
    font-size: 1vw;
    animation: spanYear-show 1s 1 ease; animation-fill-mode: forwards;
}
@keyframes spanYear-show {
    0% { opacity: 0; top: 17%; left: 63%; }
    100% { opacity: 1; top: 17%; left: 55.2%; }
}
.m-intro .mainImg {
    position: absolute; top: 55%; left: 50.5%;
    transform: translate(-50%);
    width: 48vw; height: 43vw;
    background: #ccc;
    background: url(../image/mainImg4.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}
/* m-about */
.m-about { width: 100%; height: 105vw; overflow: hidden; position: relative; }
.m-about .txtSlideBox {overflow: hidden;}
.m-about .txtSlideBox > div {
    margin-top: 7vw;
    border-top: 0.12vw solid #000;
    border-bottom: 0.12vw solid;
    padding: 1.5vw 0 0 0;
    position: relative;
}
.m-about .txtSlideBox > div:nth-child(1):before {
    content: 'Hi i am Jiwon';
    font-family: var(--font-bold);
    font-size: 1.5vw;
    color: #FF0000;
    position: absolute; left: 8%; top: -20%;
}
.m-about .txtSlideBox > div:nth-child(2){ margin-top: 5.5vw; }
.m-about .txtSlideBox > div:nth-child(2):before {
    content: 'I hope to be a front-end developer';
    font-family: var(--font-bold);
    font-size: 1.5vw;
    color: #FF0000;
    position: absolute; left: 8%; top: -20%;
}
.m-about .txtSlideBox > div > p { font-size: 7.5vw; white-space: nowrap; -webkit-text-stroke: 0.15vw #000; }
.m-about .txtSlideBox > div:nth-child(1) > p { margin-left: 7.5vw; }
.m-about .txtSlideBox > div:nth-child(1) > p.move { animation: txtSlide1 30s infinite linear; }
.m-about .txtSlideBox > div:nth-child(2) > p.move { animation: txtSlide2 26s infinite linear; }
@keyframes txtSlide1 { 50% {transform: translate(-235%, 0%);} }
@keyframes txtSlide2 {
    0% {transform: translate(-140%, 0);}
    50% {transform: translate(0%, 0%);}
    100% {transform: translate(-140%, 0%);}
}
.m-about .codingIntro { position: relative; }
.m-about .codingIntro .background {
    margin-top: 5vw;
    position: absolute; top: 0; right: 0;
    width: 91vw; height: 36vw;;
    background: #000;
}
.m-about .codingIntro p span {
    color: #ff0000;
    font-family: 'Fira Code', monospace;
    font-weight: 300;
    font-size: 1.5vw;
}
.m-about .codingIntro .num { position: absolute; top: 3.3vw; left: 4.5vw; }
.m-about .codingIntro .num span { display: block; line-height: 1.82; text-align: center; }
.m-about .codingIntro .num:before {
    content: '';
    width: 0.1vw; height: 28.4vw;
    background: #ff0000;
    position: absolute; top: 0.7vw; left: 2.5vw;
}
.m-about .codingIntro .text {
    color: #fff;
    font-size: 1.4vw;
    line-height: 1.82;
    margin: 3.2vw 0 0 10.5vw;
}
.m-about .skill {
    display: flex;
    width: 100%; height: 20vw; 
    margin-top: 45vw;
    padding-left: 4vw;
}
.m-about .skill > div { position: relative; margin-left: 4.5vw; }
.m-about .skill > div:nth-child(1):after {
    content: '100%';
    font-size: 3.5vw;
    color: #fff;
    -webkit-text-stroke: #000 0.07vw;
    font-family: var(--font-bold);
    position: absolute; left: 17%; top: 25%;
}
.m-about .skill > div:nth-child(2):after {
    content: '70%';
    font-size: 3.5vw;
    color: #fff;
    -webkit-text-stroke: #000 0.07vw;
    font-family: var(--font-bold);
    position: absolute; left: 24%; top: 25%;
}
.m-about .skill > div:nth-child(3):after {
    content: '80%';
    font-size: 3.5vw;
    color: #fff;
    -webkit-text-stroke: #000 0.07vw;
    font-family: var(--font-bold);
    position: absolute; left: 24%; top: 25%;
}
.m-about .skill > div:nth-child(4):after {
    content: '90%';
    font-size: 3.5vw;
    color: #fff;
    -webkit-text-stroke: #000 0.07vw;
    font-family: var(--font-bold);
    position: absolute; left: 24%; top: 25%;
}
.m-about .skill > div:nth-child(5):after {
    content: '80%';
    font-size: 3.5vw;
    color: #fff;
    -webkit-text-stroke: #000 0.07vw;
    font-family: var(--font-bold);
    position: absolute; left: 24%; top: 25%;
}
.m-about .skill > div:nth-child(1):before {
    content: 'HTML';
    font-size: 1.8vw;
    font-family: var(--font-bold);
    position: absolute; left: 31%; top: 80%;
}
.m-about .skill > div:nth-child(2):before {
    content: 'JAVASCRIPT';
    font-size: 1.8vw;
    font-family: var(--font-bold);
    position: absolute; left: 3%; top: 80%;
}
.m-about .skill > div:nth-child(3):before {
    content: 'JQUERY';
    font-size: 1.8vw;
    font-family: var(--font-bold);
    position: absolute; left: 20%; top: 80%;
}
.m-about .skill > div:nth-child(4):before {
    content: 'CSS';
    font-size: 1.8vw;
    font-family: var(--font-bold);
    position: absolute; left: 35%; top: 80%;
}
.m-about .skill > div:nth-child(5):before {
    content: 'ILLUST';
    font-size: 1.8vw;
    font-family: var(--font-bold);
    position: absolute; left: 26%; top: 80%;
}
.m-about .skill > div .wrapper {
    border-radius: 50%;
    border: 0.2vw solid #000;
    width: 14vw;
    height: 14vw;
    overflow: hidden;
    backface-visibility: hidden;
}
.m-about .skill > div .wrapper .fill {
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.2, .6, .8, .4);
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.m-about .skill > div .wrapper svg { width: 40vw; height: 40vw;}
.m-about .skill > div .wrapper .waveShape {
    animation-name: waveAction;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 0.8s;
    fill: #000;
}
@keyframes waveAction {
    0% {transform: translate(-150px, 0);}
    100% {transform: translate(0, 0);}
}
.m-about .skill .s-html .wrapper .fill {animation-name: html-fill;}
.m-about .skill .s-java .wrapper .fill {animation-name: java-fill;}
.m-about .skill .s-jq .wrapper .fill {animation-name: jQ-fill;}
.m-about .skill .s-css .wrapper .fill {animation-name: css-fill;}
.m-about .skill .s-illu .wrapper .fill {animation-name: ill-fill;}
@keyframes html-fill {
    0% {transform: translate(0, 300px);}
    100% {transform: translate(0, 0.2px);}
}
@keyframes java-fill {
    0% {transform: translate(0, 300px);}
    100% {transform: translate(0, 35px);}
}
@keyframes jQ-fill {
    0% {transform: translate(0, 300px);}
    100% {transform: translate(0, 25px);}
}
@keyframes css-fill {
    0% {transform: translate(0, 300px);}
    100% {transform: translate(0, 10px);}
}
@keyframes ill-fill {
    0% {transform: translate(0, 300px);}
    100% {transform: translate(0, 35px);}
}
/* m-coming */
.m-coming { width: 100%; height: 170vw; overflow: hidden;}
.container {padding: 0 10vw;}
.m-coming > div .selfBox {height: 50vw; overflow: hidden; display: flex;}
.m-coming > div .selfBox .leftBox {flex: 1 1 50%; position: relative;}
.m-coming > div .selfBox .leftBox .backCode {
    position: absolute; top: 20%; left: 0;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 2;
}
.m-coming > div .selfBox .leftBox .selfImg {
    position: absolute; bottom: 0%; left: -1%;
    width: 36vw; height: 37vw;
    background: url(../image/MaskGroup.png) center center;
    background-size: cover;
}
.m-coming > div .selfBox .rightBox {flex: 1 1 50%; position: relative;}
.m-coming > div .selfBox .rightBox p {
    position: absolute; bottom: -3.1%; left: 3%;
    font-family: var(--font-bold);
    font-size: 9.1vw;
    color: #fff;
    -webkit-text-stroke: 0.1vw #000;
    line-height: 1.15;
}
.m-coming > div .selfBox .rightBox p span {color: #000;}
.m-coming > div .questionBox { height: 120vw; position: relative; overflow: hidden;}
.m-coming > div .questionBox .question {
    position: absolute; top: 45vw; left: 19.5%;
    z-index: 50;
    font-family: var(--font-bold)  ;
    font-size: 7.5vw;
    text-align: center;
}
.m-coming > div .questionBox .questionMark-box > div { 
    position: absolute; 
    font-family: var(--font-bold); 
    color: #fff; 
    -webkit-text-stroke: 0.1vw #000; 
}
.questionBox .questionMark-box .mark1 { font-size: 3.5vw; left: 20%; bottom: 10%; animation: mark-move 10s -4600ms ease-in infinite; }
.questionBox .questionMark-box .mark2 { font-size: 5vw; left: 30%; bottom: 30%; animation: mark-move 10s -2070ms ease-in infinite; }
.questionBox .questionMark-box .mark3 { font-size: 8vw; left: 35%; bottom: 15%; animation: mark-move 10s -5ms ease-in infinite; }
.questionBox .questionMark-box .mark4 { font-size: 2vw; left: 70%; bottom: 20%; animation: mark-move 10s -700ms ease-in infinite; }
.questionBox .questionMark-box .mark5 { font-size: 5vw; left: 39%; bottom: 0%; animation: mark-move 10s -20ms ease-in infinite; }
.questionBox .questionMark-box .mark6 { font-size: 7.6vw; left: 63%; bottom: 5%; animation: mark-move 10s -3000ms ease-in infinite; }
.questionBox .questionMark-box .mark7 { font-size: 6.6vw; left: 10%; bottom: 30%; animation: mark-move 10s -60ms ease-in infinite; }
.questionBox .questionMark-box .mark8 { font-size: 8.5vw; left: 55%; bottom: 0%; animation: mark-move 10s -1700ms ease-in infinite; }
.questionBox .questionMark-box .mark9 { font-size: 2.8vw; left: 78%; bottom: 0%; animation: mark-move 10s -3700ms ease-in infinite; }
.questionBox .questionMark-box .mark10 { font-size: 3.8vw; left: 90%; bottom: 5%; animation: mark-move 10s -1020ms ease-in infinite; }
.questionBox .questionMark-box .mark11 { font-size: 1.5vw; left: 12%; bottom: 25%; animation: mark-move 10s -8800ms ease-in infinite; }
.questionBox .questionMark-box .mark12 { font-size: 7.3vw; left: 50%; bottom: 0%; animation: mark-move 10s -5700ms ease-in infinite; }
.questionBox .questionMark-box .mark13 { font-size: 6vw; left: 20%; bottom: 0%; animation: mark-move 10s -6300ms ease-in infinite; }
.questionBox .questionMark-box .mark14 { font-size: 8vw; left: 85%; bottom: 10%; animation: mark-move 10s -370ms ease-in infinite; }
.questionBox .questionMark-box .mark15 { font-size: 2vw; left: 73%; bottom: 0%; animation: mark-move 10s -10ms ease-in infinite; }
.questionBox .questionMark-box .mark16 { font-size: 7vw; left: 54%; bottom: 30%; animation: mark-move 10s -3720ms ease-in infinite; }
.questionBox .questionMark-box .mark17 { font-size: 13vw; left: 3%; bottom: 20%; animation: mark-move 10s -2070ms ease-in infinite; }
.questionBox .questionMark-box .mark18 { font-size: 6.5vw; left: 58%; bottom: 0%; animation: mark-move 10s -6010ms ease-in infinite; }
.questionBox .questionMark-box .mark19 { font-size: 3vw; left: 80%; bottom: 10%; animation: mark-move 10s -300ms ease-in infinite; }
.questionBox .questionMark-box .mark20 { font-size: 5vw; left: 20%; bottom: 10%; animation: mark-move 10s -1010ms ease-in infinite; }
.questionBox .questionMark-box .mark21 { font-size: 5vw; left: 50%; bottom: 0%; animation: mark-move 10s -8010ms ease-in infinite; }
.questionBox .questionMark-box .mark22 { font-size: 3vw; left: 40%; bottom: 20%; animation: mark-move 10s -10ms ease-in infinite; }
.questionBox .questionMark-box .mark23 { font-size: 3.9vw; left: 20%; bottom: 5%; animation: mark-move 10s -8000ms ease-in infinite; }
.questionBox .questionMark-box .mark24 { font-size: 9vw; left: 40%; bottom: 0%; animation: mark-move 10s -2010ms ease-in infinite; }
.questionBox .questionMark-box .mark25 { font-size: 3.5vw; left: 70%; bottom: 10%; animation: mark-move 10s -7010ms ease-in infinite; }
.questionBox .questionMark-box .mark26 { font-size: 4vw; left: 88%; bottom: 5%; animation: mark-move 10s -3000ms ease-in infinite; }
.questionBox .questionMark-box .mark27 { font-size: 11vw; left: 62%; bottom: 0%; animation: mark-move 10s -5010ms ease-in infinite; }
.questionBox .questionMark-box .mark28 { font-size: 4vw; left: 47%; bottom: 10%; animation: mark-move 10s -4000ms ease-in infinite; }
.questionBox .questionMark-box .mark29 { font-size: 4.5vw; left: 20%; bottom: 5%; animation: mark-move 10s -2510ms ease-in infinite; }
.questionBox .questionMark-box .mark30 { font-size: 11vw; left: 30%; bottom: 0%; animation: mark-move 10s -800ms ease-in infinite; }
@keyframes mark-move { 0% {transform: translatey(0);} 100% {transform: translatey(-2000%);} }
/* m-follow */
.m-follow { width: 100%; height: 150vw; background: #ccc; overflow: hidden;}
.m-follow .textBox > div {background: #ff0000; height: 55vw; position: relative;}
.m-follow .textBox > div p {
    font-family: var(--font-bold);
    font-size: 7.7vw;
    color: #000;
    letter-spacing: -5px;
    line-height: 1.2;
    -webkit-text-stroke: 0.15vw #000;
    text-align: center;
}
.m-follow .textBox > div p:nth-child(1) { padding-top: 15vw; color: transparent;}
.m-follow .textBox > div p:nth-child(3) {position: absolute; right: 16%; top: 46%;}
.m-follow .textBox > div span {
    width: 4vw; height: 4vw;
    position: absolute; bottom: 10%; left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    font-family: var(--font-bold);
    font-size: 1vw;
    letter-spacing: -1px;
    text-align: center;
    line-height: 4.1vw;
    animation: scrollRotate 2s infinite ease;
}
@keyframes scrollRotate {
    0% {transform: rotateY(0deg);}
    50% {transform: rotateY(180deg);}
    100% {transform: rotateY(360deg);}
}
.m-follow .gradientRed {height: 95vw; background-image: linear-gradient(to bottom, #ff0000, #ffff);}


/* site */
.fixed {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000;}
img {width: 100%; vertical-align: top;}

.s-title {
    z-index: 1100;
    font-family: var(--font-bold);
    -webkit-text-stroke: 0.1vw #000;
    letter-spacing: -8px;
    white-space: nowrap;
    font-size: 8vw;
}
.s-tag {display: flex;}
.s-tag > li {margin-right: 0.3vw; border: 0.08vw solid #9B9B9B; padding: 1vw 1vw 0.6vw 1vw; font-size: 1.1vw; line-height: 1vw;}
.s-txt {white-space: nowrap; font-family: var(--font-light); font-size: 1.5vw;}
.s-btn {display: flex;}
.s-btn > li a {
    display: inline-block;
    width: 18vw;
    font-size: 1.1vw;
    line-height: 1.5vw;
    text-align: center;
    font-family: var(--font-bold);
    letter-spacing: 10px;
    padding: 1vw 0vw 0.7vw 0vw;
    border: 0.08vw solid #000;
    background: #fff;
}
.s-btn > li:nth-child(1) a { border-right: none; }
.s-btn > li a:hover {background: #000; color: #fff;}
.s-phone {width: 14.5vw; height: 28vw; border: 0.1vw solid #9b9b9b; border-radius: 2.2vw;}

/* s-sec1 */
.s-sec1 {width: 100vw;}
.s-sec1 .sec1-title {left: 150vw; top: 43vw;}
.s-sec1 .sec1-img1{width: 52vw; height: 42vw; left: 150vw; top: 25vw;}
.s-sec1 .sec1-tag {left: 148vw; top: 15vw;}
.s-sec1 .sec1-txt {left: 150vw; top: 25vw;}
.s-sec1 .sec1-btn {left: 145vw; top: 33vw;}
/* s-sec2 */
.s-sec2 {width: 100vw;}
.s-sec2 .sec2-title {left: 29.5vw; top: 43vw; opacity: 0;}
.s-sec2 .sec2-title .sec2-titleBefore {left: 41vw; top: 6vw; opacity: 0;}
.s-sec2 .sec2-title .sec2-titleAfter {left: 64.5vw; top: 100vw; opacity: 0;}
.s-sec2 .sec2-img1 {width: 50vw; height: 48vw; left: 150vw; top: 20vw;}
.s-sec2 .sec2-img2 {width: 40vw; height: 36vw; left: 50vw; top: 100vw;}
.s-sec2 .sec2-tag {left: 150vw; top: 18vw;}
.s-sec2 .sec2-txt {left: 150vw; top: 29vw;}
.s-sec2 .sec2-btn {left: 150vw; top: 39vw;}
.s-sec2 .sec2-phone {left: 86vw; top: 100vw}
.s-sec2 .sec2-img3 {left: 86vw; top: 200vw;}
/* s-sec3 */
.s-sec3 {width: 100vw;}
.s-sec3 .sec3-title1 {left: 150vw; top: 20vw; opacity: 1;}
.s-sec3 .sec3-title2 {left: 70.8vw; top: -50vw}
.s-sec3 .sec3-imgBox {width: 40vw; height: 30vw; top: 25vw; left: 200vw; }
.s-sec3 .sec3-imgBox .sec3-imgWrap {width: 34.1vw; height: 19vw; left: 18.9vw; top: 11.5vw; background: #ccc; overflow: hidden;}
.s-sec3 .sec3-imgBox .sec3-imgWrap .sec3-img1 {display: inline-block;}
.s-sec3 .sec3-imgBox .sec3-imgWrap .sec3-img2 {display: inline-block; width: 34.1vw; top: -100vw;}
.s-sec3 .sec3-img3 {width: 14vw; left: -20vw; top: 35vw; opacity: 1;}
.s-sec3 .sec3-tag1 {left: 148vw; top: 11.9vw; opacity: 1;}
.s-sec3 .sec3-txt1 {left: 150vw; top: 30.5vw; opacity: 1;}
.s-sec3 .sec3-btn1 {left: 138vw; top: 38.2vw; border-right: 0.08vw solid #000;}
.s-sec3 .sec3-tag2 {left: 64.9vw; top: -50vw}
.s-sec3 .sec3-txt2 {left: 70.5vw; top: -50vw}
.s-sec3 .sec3-btn2 {left: 57.5vw; top: -50vw; border-right: 0.08vw solid #000; opacity: 1;}


/* animation */
/* a-snake */
.a-snake { width: 100%; height: 180vw; position: relative; overflow: hidden;}
.a-snake .imgBox {width: 100%; height: 180vw;}
.a-snake .imgBox .snakeImg {
    width: 49vw;
    position: absolute; left: 24%; top: 5%;
    z-index: 10;
}
.a-snake .txt {position: absolute; top: 38%; left: 36%; font-family: var(--font-bold); font-size: 4.8vw; text-align: center; line-height: 1.2;}
.a-snake .alphabetS { width: 22vw; position: absolute; left: 36.6%; top: 5.5%;}
.a-snake .alphabetQ { width: 28vw; position: absolute; left: 37.2%; top: 77%;}
/* a-aniBox */
.a-aniBox { width: 100%; height: 290vw; overflow: hidden;}
.a-aniBox .sideMenu { z-index: 500000; position: fixed; right: 5%; top: 25%; display: none; }
.a-aniBox .sideMenu li { font-size: 1.2vw; line-height: 3; text-align: center; }
.a-aniBox .sideMenu li.active { font-family: var(--font-bold); font-size: 2vw; }
.a-aniBox .aniSection {width: 100%; height: 48vw; position: relative;}
.a-aniBox .aniSection .using { position: absolute; top: 15%; left: 46%; font-size: 1vw; }
.a-aniBox .aniSection .txtBox { position: absolute; top: 22%; left: 28%;font-size: 7.5vw; line-height: 1.2; text-align: center; }
.a-aniBox .aniSection .txtBox .txtTop span:nth-child(1) {animation: aniMove1 5s infinite;}
.a-aniBox .aniSection .txtBox .txtTop span:nth-child(2) {animation: aniMove2 5s infinite;}
.a-aniBox .aniSection .txtBox .txtTop span:nth-child(3) {animation: aniMove2 5s infinite;}
.a-aniBox .aniSection .txtBox .txtTop span:nth-child(4) {animation: aniMove3 5s infinite;}

.a-aniBox .aniSection .ani4Txt .txtTop span:nth-child(1) {animation: aniMove1 5s infinite;}
.a-aniBox .aniSection .ani4Txt .txtTop span:nth-child(2) {animation: aniMove1 5s infinite;}
.a-aniBox .aniSection .ani4Txt .txtTop span:nth-child(3) {animation: aniMove2 5s infinite;}
.a-aniBox .aniSection .ani4Txt .txtTop span:nth-child(4) {animation: aniMove2 5s infinite;}
.a-aniBox .aniSection .ani4Txt .txtTop span:nth-child(5) {animation: aniMove2 5s infinite;}
.a-aniBox .aniSection .ani4Txt .txtTop span:nth-child(6) {animation: aniMove3 5s infinite;}
.a-aniBox .aniSection .ani4Txt .txtTop span:nth-child(7) {animation: aniMove3 5s infinite;}

.a-aniBox .aniSection .ani5Txt .txtTop span:nth-child(1) {animation: aniMove1 5s infinite;}
.a-aniBox .aniSection .ani5Txt .txtTop span:nth-child(2) {animation: aniMove1 5s infinite;}
.a-aniBox .aniSection .ani5Txt .txtTop span:nth-child(3) {animation: aniMove1 5s infinite;}
.a-aniBox .aniSection .ani5Txt .txtTop span:nth-child(4) {animation: aniMove2 5s infinite;}
.a-aniBox .aniSection .ani5Txt .txtTop span:nth-child(5) {animation: aniMove2 5s infinite;}
.a-aniBox .aniSection .ani5Txt .txtTop span:nth-child(6) {animation: aniMove3 5s infinite;}
.a-aniBox .aniSection .ani5Txt .txtTop span:nth-child(7) {animation: aniMove3 5s infinite;}
.a-aniBox .aniSection .ani5Txt .txtTop span:nth-child(8) {animation: aniMove3 5s infinite;}

.a-aniBox .aniSection .ani6Txt .txtTop span:nth-child(1) {animation: aniMove1 5s infinite;}
.a-aniBox .aniSection .ani6Txt .txtTop span:nth-child(2) {animation: aniMove1 5s infinite;}
.a-aniBox .aniSection .ani6Txt .txtTop span:nth-child(3) {animation: aniMove2 5s infinite;}
.a-aniBox .aniSection .ani6Txt .txtTop span:nth-child(4) {animation: aniMove2 5s infinite;}
.a-aniBox .aniSection .ani6Txt .txtTop span:nth-child(5) {animation: aniMove3 5s infinite;}
.a-aniBox .aniSection .ani6Txt .txtTop span:nth-child(6) {animation: aniMove3 5s infinite;}

.a-aniBox .aniSection .txtBox .txtBottom span:nth-child(1) {animation: aniMove3 5s infinite;}
.a-aniBox .aniSection .txtBox .txtBottom span:nth-child(2) {animation: aniMove3 5s infinite;}
.a-aniBox .aniSection .txtBox .txtBottom span:nth-child(3) {animation: aniMove3 5s infinite;}
.a-aniBox .aniSection .txtBox .txtBottom span:nth-child(4) {animation: aniMove2 5s infinite;}
.a-aniBox .aniSection .txtBox .txtBottom span:nth-child(5) {animation: aniMove2 5s infinite;}
.a-aniBox .aniSection .txtBox .txtBottom span:nth-child(6) {animation: aniMove2 5s infinite;}
.a-aniBox .aniSection .txtBox .txtBottom span:nth-child(7) {animation: aniMove1 5s infinite;}
.a-aniBox .aniSection .txtBox .txtBottom span:nth-child(8) {animation: aniMove1 5s infinite;}
.a-aniBox .aniSection .txtBox .txtBottom span:nth-child(9) {animation: aniMove1 5s infinite;}
@keyframes aniMove1 {
    0% {font-family: 'GmarketSansLight'; letter-spacing: -20px;}
    25% {font-family: 'GmarketSansMedium'; letter-spacing: 0px;}
    50% {font-family: 'GmarketSansbold'; letter-spacing: 20px;}
    75% {font-family: 'GmarketSansMedium'; letter-spacing: 0px;}
    100% {font-family: 'GmarketSansLight'; letter-spacing: -20px;}
}
@keyframes aniMove2 {
    0% {font-family: 'GmarketSansMedium';  letter-spacing: 0px;}
    25% {font-family: 'GmarketSansbold'; letter-spacing: 20px;}
    50% {font-family: 'GmarketSansLight'; letter-spacing: -20px;}
    75% {font-family: 'GmarketSansbold'; letter-spacing: 20px;}
    100% {font-family: 'GmarketSansMedium';  letter-spacing: 0px;}
}
@keyframes aniMove3 {
    0% {font-family: 'GmarketSansbold'; letter-spacing: 20px;}
    25% {font-family: 'GmarketSansLight'; letter-spacing: -20px;}
    50% {font-family: 'GmarketSansMedium'; letter-spacing: 0px;}
    75% {font-family: 'GmarketSansLight'; letter-spacing: -20px;}
    100% {font-family: 'GmarketSansbold'; letter-spacing: 20px;}
}
.a-aniBox > div .aniMore {position: absolute; left: 50%; bottom: 11%; transform: translate(-50%); width: 5vw; height: 5vw;}
.a-aniBox > div .aniMore img {transition: transform 0.3s;}
.a-aniBox > div .aniMore.active img {transform: rotate(45deg);}
/* a-gradientBk */
.a-gradientBk { width: 100%; height: 110vw; background: linear-gradient(to bottom, #fff, #000); position: relative;}
.a-gradientBk div {position: absolute; left: 50%; top: 60%}
.a-gradientBk div span {
    display: block;
    width: 2vw; height: 2vw; 
    border-top: 0.15vw solid #fff; 
    border-right: 0.15vw solid #fff; 
    transform: rotate(135deg); 
    margin-top: -1vw;
    animation: ani-scroll 2s infinite;
    opacity: 0;
}
.a-gradientBk div span:nth-child(1) {animation-delay: 0s;}
.a-gradientBk div span:nth-child(2) {animation-delay: .15s;}
.a-gradientBk div span:nth-child(3) {animation-delay: .30s;}
.a-gradientBk div span:nth-child(4) {animation-delay: .45s;}
.a-gradientBk p {
    position: absolute; left: 49.2%; top: 66%; 
    font-size: 1.3vw; 
    color: #fff; 
    font-family: var(--font-light);
    animation: ani-scroll 2s .60s infinite;
    opacity: 0;
}
@keyframes ani-scroll {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}


/* effect */
/* e-slideBox */
.e-slideBox {width: 100%; height: 50vw; overflow: hidden; background: #000; padding-top: 5vw; box-sizing: border-box;}
.e-slideBox > div {height: 9vw;}
.e-slideBox .textEn {transform: translate(0%);}
.e-slideBox .textEn.e-move {animation: slideEn 20s infinite linear;}
.e-slideBox .textKo {transform: translate(-143%);}
.e-slideBox .textKo.e-move {animation: slideKo 20s infinite linear;}
@keyframes slideEn {
    0% {transform: translate(0%);}
    25% {transform: translate(-40%);}
    50% {transform: translate(0%);}
    75% {transform: translate(-40%);}
    100% {transform: translate(0%);}
}
@keyframes slideKo {
    0% {transform: translate(-142%);}
    25% {transform: translate(-102%);}
    50% {transform: translate(-142%);}
    75% {transform: translate(-102%);}
    100% {transform: translate(-142%);}
}
.e-slideBox > div p {font-size: 8vw; white-space: nowrap; color: #000; -webkit-text-stroke: 0.1vw #fff;}
/* e-container */
.e-container {width: 100%; overflow: hidden; height: 240vw; background: #000; padding: 0 5vw; position: relative;}
.e-effectBox .Effect {width: 38vw; height: 34vw; float: left; position: relative; border-bottom: 0.15vw solid #fff;}
.e-effectBox .Mouse {margin: 15vw 4vw 0 0;}
.e-effectBox .menu {margin-top: 28vw;}
.e-effectBox .parallax {margin: 20vw 0 0 25vw;}
.e-effectBox .quiz1 {margin-top: 15vw;}
.e-effectBox .quiz2 {margin: 8vw 0 0 0; clear: both;}
.e-effectBox .slider {margin: -15vw 0 0 10vw;}
.e-effectBox .Effect h3 {font-family: var(--font-bold); color: #fff; font-size: 1.8vw; margin-bottom: 1vw;}
.e-effectBox .Effect span a {
    display: inline-block;
    font-family: var(--font-bold);
    color: #ff0000; 
    position: absolute; right: 0%; top: 1%; 
    font-size: 1vw;
    line-height: 1.6;
    border: 0.15vw solid #ff0000;
    padding: 0.2vw 0.5vw 0 0.5vw;
    transition: all 0.4s;
}
.e-effectBox .Effect span a:hover {
    box-shadow: 
        inset -3rem 0 0 0 #ff0000, 
        inset 3rem 0 0 0 #ff0000;
    color: #fff;
}
.e-effectBox .Effect div {width: 38vw; height: 19vw;}
.e-effectBox .Effect p {margin-top: 1vw; font-family: var(--font-light); color: #fff; font-size: 1.2vw; line-height: 1.5; text-align: justify;}
.e-container .e-circleBox .circle {width: 24vw; height: 24vw; border-radius: 50%; border: 0.15vw solid #fff; text-align: center;}
.e-container .e-circleBox .circle .fa {color: #000; -webkit-text-stroke: 0.15vw #fff; font-size: 12vw; line-height: 2;}
.e-container .e-circleBox .circle:hover {background: #ffff; transform: rotate(0deg);}
.e-container .e-circleBox .circle:hover .fa {display: none;}
.e-container .e-circleBox .cir1 {position: absolute; left: 5%; top: 23%;}
.e-container .e-circleBox .cir1:hover:before {
    content:"more";
    font-size: 5vw;
    font-family: var(--font-bold);
    text-align: center;
    color: #000;
    position: absolute; top: 30%; left: 20%;
}
.e-container .e-circleBox .cir1:hover:after {
    content:"Mouse Effect";
    font-size: 1.6vw;
    text-align: center;
    color: #000;
    position: absolute; top: 58%; left: 26%;
}
.e-container .e-circleBox .cir2 {position: absolute; right: 15%; top: 50.5%; transform: rotate(45deg);}
.e-container .e-circleBox .cir2:hover:before {
    content:"more";
    font-size: 5vw;
    font-family: var(--font-bold);
    text-align: center;
    color: #000;
    position: absolute; top: 30%; left: 20%;
}
.e-container .e-circleBox .cir2:hover:after {
    content:"Slider Effect";
    font-size: 1.6vw;
    text-align: center;
    color: #000;
    position: absolute; top: 58%; left: 27.5%;
}
.e-container .e-circleBox .cir3 {position: absolute; left: 37.5%; bottom: 0%;}
.e-container .e-circleBox .cir3:hover {background: #ff0000; border: 0.15vw solid #ff0000; animation : pulse 1s 1;}
@keyframes pulse {
    0% {box-shadow: 0 0 0 0 #ff0000}
    100% {box-shadow: 0 0 0 2rem rgba(255,255,255,0)}
  }
.e-container .e-circleBox .cir3:hover:before {
    content:"what's the NEXT?";
    font-size: 2.5vw;
    text-align: center;
    color: #fff;
    font-family: var(--font-bold);
    position: absolute; top: 38%; left: 0;
}




/* 미디어쿼리 */
@media (max-width: 1720px){
    /* 1680 + 40 */
    .a-snake {margin-top: 100vw;}
}
@media (max-width: 1640){
    /* 1600 + 40 */
    .a-snake {margin-top: 150vw;}
}
@media (max-width: 1320px){
    /* 1280 + 40*/
    /* screen-scroll */
    #screen-scroll { width: 50px; height: 50px; line-height: 50px; font-size: 13px; }
    
    /* main */
     .m-intro .logo h2 { font-size: 12vw; letter-spacing: -6px; }
    @keyframes logoBottom-show {
        0% { opacity: 0; top: 24%; left: 20%; }
        100% { opacity: 1; top: 24%; left: 8%; }
    }
    .m-intro .borderBox .toBottom { position: absolute; top: 18.3%; left: 90.7%; }
    .m-intro .introduce { font-size: 1.6vw; }
    .m-intro .borderBox .year { font-size: 1.3vw; }
    @keyframes spanYear-show {
        0% { opacity: 0; top: 16.5%; left: 63%; }
        100% { opacity: 1; top: 16.5%; left: 55.2%; }
    }
    .m-intro .mainImg { position: absolute; top: 57%; left: 50%; width: 43vw; height: 39vw; }
    .m-follow .textBox > div p:nth-child(3) {right: 17%;}
    .m-follow .textBox > div span {width: 5vw; height: 5vw; line-height: 5.1vw; font-size: 1.2vw;}

    /* animation */
    .a-snake {margin-top: 200vw;}
    @keyframes aniMove1 {
        0% {font-family: 'GmarketSansLight'; letter-spacing: -15px;}
        25% {font-family: 'GmarketSansMedium'; letter-spacing: 0px;}
        50% {font-family: 'GmarketSansbold'; letter-spacing: 15px;}
        75% {font-family: 'GmarketSansMedium'; letter-spacing: 0px;}
        100% {font-family: 'GmarketSansLight'; letter-spacing: -15px;}
    }
    @keyframes aniMove2 {
        0% {font-family: 'GmarketSansMedium';  letter-spacing: 0px;}
        25% {font-family: 'GmarketSansbold'; letter-spacing: 15px;}
        50% {font-family: 'GmarketSansLight'; letter-spacing: -15px;}
        75% {font-family: 'GmarketSansbold'; letter-spacing: 15px;}
        100% {font-family: 'GmarketSansMedium';  letter-spacing: 0px;}
    }
    @keyframes aniMove3 {
        0% {font-family: 'GmarketSansbold'; letter-spacing: 15px;}
        25% {font-family: 'GmarketSansLight'; letter-spacing: -15px;}
        50% {font-family: 'GmarketSansMedium'; letter-spacing: 0px;}
        75% {font-family: 'GmarketSansLight'; letter-spacing: -15px;}
        100% {font-family: 'GmarketSansbold'; letter-spacing: 15px;}
    }
}


@media (max-width: 1064px){
    /* 1024 + 40 */
    /* main */
    .m-about .txtSlideBox > div > p { -webkit-text-stroke: 0.25vw #000;}
    .m-about .codingIntro .num { top: 2.5vw; }
    .m-about .codingIntro .num span { line-height: 1.94;}
    .m-about .codingIntro .num:before { width: 0.1vw; height: 30.5vw; }
    .m-about .codingIntro .text { font-size: 1.6vw; line-height: 1.8; margin: 2.5vw 0 0 10.5vw; }
    .m-about .skill { padding-left: 3.5vw; }
    .m-about .skill > div .wrapper { width: 13.8vw; height: 13.8vw; }
    .m-about .skill .s-java .wrapper .fill {animation-name: java-fill;}
    @keyframes java-fill { 0% {transform: translate(0, 300px);} 100% {transform: translate(0, 25px);} }
    @keyframes jQ-fill { 0% {transform: translate(0, 300px);} 100% {transform: translate(0, 15px);} }
    @keyframes css-fill { 0% {transform: translate(0, 300px);} 100% {transform: translate(0, 8px);} }
    @keyframes ill-fill { 0% {transform: translate(0, 300px);} 100% {transform: translate(0, 15px);} }
    .m-coming > div .selfBox .rightBox p { -webkit-text-stroke: 0.14vw #000; }
    .m-follow .textBox > div p { letter-spacing: -3px; }

    /* animation */
    .a-snake {margin-top: 400vw;}
}



@media (max-width: 1000px){
    /* 960 + 40 */
    /* screen-scroll */
    #screen-scroll { width: 45px; height: 45px; line-height: 45px; font-size: 12px;} 
    
    /* main */
    .m-intro .logo h2 {font-size: 12vw; letter-spacing: -5px; opacity: 0; }
    @keyframes logoBottom-show {
        0% { opacity: 0; top: 24%; left: 20%; }
        100% { opacity: 1; top: 24%; left: 8%; }
    }
    .m-intro .introduce { font-size: 2vw; }
    @keyframes introduce-show {
        0% { opacity: 0; top: 38%; left: 20%; }
        100% { opacity: 1; top: 38%; left: 8%; }
    }
    .m-intro .borderBox .toRight { position: absolute; top: 45%; left: 8%; background: #000; }
    @keyframes borderR-show {
        0% { width: 1vw; }
        100% { width: 80vw; }
    }
    .m-intro .borderBox .toBottom { display: none }
    .m-intro .borderBox .year { font-size: 1.5vw; }
    @keyframes spanYear-show {
        0% { opacity: 0; top: 43%; left: 105%; }
        30% { opacity: 0;}
        100% { opacity: 1; top: 43%; left: 85.8%; }
    }
    .m-intro .mainImg {
        top: 53%; left: 50%;
        width: 48vw; height: 45vw;
        opacity: 0;
        animation: mainImg-show 1.5s 500ms 1 ease; animation-fill-mode: forwards;
    }
    @keyframes mainImg-show {
        0% {opacity: 0; left: 70%}
        100% {opacity: 1; left: 50%}
    }
    .m-about .txtSlideBox > div:nth-child(1):before { font-size: 2vw; top: -25%; }
    .m-about .txtSlideBox > div:nth-child(2):before { font-size: 2vw; top: -25%; }

    /* animation */
    .a-snake {margin-top: 500vw;}
    .a-snake .txt {font-size: 5vw;}
    .a-snake .alphabetS { width: 22vw; position: absolute; left: 37%; top: 5.5%;}
    .a-snake .alphabetQ { width: 28vw; position: absolute; left: 37.6%; bottom: 18%;}
    @keyframes aniMove1 {
        0% {font-family: 'GmarketSansLight'; letter-spacing: -10px;}
        25% {font-family: 'GmarketSansMedium'; letter-spacing: 0px;}
        50% {font-family: 'GmarketSansbold'; letter-spacing: 10px;}
        75% {font-family: 'GmarketSansMedium'; letter-spacing: 0px;}
        100% {font-family: 'GmarketSansLight'; letter-spacing: -10px;}
    }
    @keyframes aniMove2 {
        0% {font-family: 'GmarketSansMedium';  letter-spacing: 0px;}
        25% {font-family: 'GmarketSansbold'; letter-spacing: 10px;}
        50% {font-family: 'GmarketSansLight'; letter-spacing: -10px;}
        75% {font-family: 'GmarketSansbold'; letter-spacing: 10px;}
        100% {font-family: 'GmarketSansMedium';  letter-spacing: 0px;}
    }
    @keyframes aniMove3 {
        0% {font-family: 'GmarketSansbold'; letter-spacing: 10px;}
        25% {font-family: 'GmarketSansLight'; letter-spacing: -10px;}
        50% {font-family: 'GmarketSansMedium'; letter-spacing: 0px;}
        75% {font-family: 'GmarketSansLight'; letter-spacing: -10px;}
        100% {font-family: 'GmarketSansbold'; letter-spacing: 10px;}
    }
    .a-aniBox .aniSection .using { left: 44.5%; font-size: 1.5vw; }
}


@media (max-width: 808px){
    /* 768 + 40 */
    /* main */
    .m-about .codingIntro .text { font-size: 1.7vw; line-height: 1.7; font-family: var(--font-light);}
    .m-about .txtSlideBox > div:nth-child(1):before { font-size: 2.2vw; top: -28%; }
    .m-about .txtSlideBox > div:nth-child(2):before { font-size: 2.2vw; top: -28%; }
    @keyframes java-fill { 0% {transform: translate(0, 300px);} 100% {transform: translate(0, 15px);} }
    @keyframes jQ-fill { 0% {transform: translate(0, 300px);} 100% {transform: translate(0, 8px);} }
    @keyframes css-fill { 0% {transform: translate(0, 300px);} 100% {transform: translate(0, 5px);} }
    @keyframes ill-fill { 0% {transform: translate(0, 300px);} 100% {transform: translate(0, 8px);} }
    .m-coming > div .selfBox .rightBox p {
        position: absolute; bottom: -3.1%; left: 3%;
        font-family: var(--font-bold);
        font-size: 8.7vw;
        color: #fff;
        -webkit-text-stroke: 0.10vw #000;
        line-height: 1.2;
    }
    .m-coming > div .selfBox .rightBox p { -webkit-text-stroke: 0.15vw #000; }

    /* animation */
    .a-snake {margin-top: 650vw;}
    .a-gradientBk p { left: 49%; }
}


@media (max-width: 640px){
    /* 600 + 40 */
    /* screen-scroll */
    #screen-scroll { width: 40px; height: 40px; line-height: 40px; font-size: 10.5px; }
    @keyframes spanYear-show {
        0% { opacity: 0; top: 42.5%; left: 105%; }
        30% { opacity: 0;}
        100% { opacity: 1; top: 42.5%; left: 86%; }
    }
    /* main */
    .m-about { height: 110vw; }
    .m-about .codingIntro .background { height: 45vw; }
    .m-about .codingIntro .text { font-size: 2.1vw; margin-top: 3.5vw; line-height: 1.7; font-family: var(--font-light);}
    .m-about .codingIntro .num { top: 3.5vw; left: 4vw;}
    .m-about .codingIntro .num span { font-size: 2.1vw; line-height: 1.7;}
    .m-about .codingIntro .num:before { height: 37vw; left: 3.2vw;}
    .m-about .skill { margin-top: 52vw; padding-left: 3vw;}
    .m-about .skill > div:nth-child(1):before { font-size: 2.2vw; left: 25.5%; }
    .m-about .skill > div:nth-child(2):before { font-size: 2.2vw; left: -8%; }
    .m-about .skill > div:nth-child(3):before { font-size: 2.2vw; left: 13%; }
    .m-about .skill > div:nth-child(4):before { font-size: 2.2vw; left: 31.5%; }
    .m-about .skill > div:nth-child(5):before { font-size: 2.2vw; left: 21%; }
    .m-about .skill > div { margin-left: 4vw; }
    .m-coming > div .selfBox .leftBox {overflow: hidden;}
    .m-follow .textBox > div p:nth-child(3) {right: 14%;}
    .m-follow .textBox > div span {width: 6.5vw; height: 6.5vw; line-height: 6.6vw; font-size: 1.2vw; letter-spacing: 0px; bottom: 0%;}
    .m-follow .textBox > div p { letter-spacing: 0px; }
    /* animation */
    .a-snake {margin-top: 1100vw;}
    .a-aniBox .aniSection .using { position: absolute; top: 15%; left: 43%; font-size: 1vw; }
    .a-aniBox .aniSection .txtBox { top: 25%; }
    @keyframes aniMove1 {
        0% {font-family: 'GmarketSansLight'; letter-spacing: -5px;}
        25% {font-family: 'GmarketSansMedium'; letter-spacing: 0px;}
        50% {font-family: 'GmarketSansbold'; letter-spacing: 5px;}
        75% {font-family: 'GmarketSansMedium'; letter-spacing: 0px;}
        100% {font-family: 'GmarketSansLight'; letter-spacing: -5px;}
    }
    @keyframes aniMove2 {
        0% {font-family: 'GmarketSansMedium';  letter-spacing: 0px;}
        25% {font-family: 'GmarketSansbold'; letter-spacing: 5px;}
        50% {font-family: 'GmarketSansLight'; letter-spacing: -5px;}
        75% {font-family: 'GmarketSansbold'; letter-spacing: 5px;}
        100% {font-family: 'GmarketSansMedium';  letter-spacing: 0px;}
    }
    @keyframes aniMove3 {
        0% {font-family: 'GmarketSansbold'; letter-spacing: 5px;}
        25% {font-family: 'GmarketSansLight'; letter-spacing: -5px;}
        50% {font-family: 'GmarketSansMedium'; letter-spacing: 0px;}
        75% {font-family: 'GmarketSansLight'; letter-spacing: -5px;}
        100% {font-family: 'GmarketSansbold'; letter-spacing: 5px;}
    }
    .a-gradientBk p { left: 48.6%; }
}


@media (max-width: 360px){
    /* 320 + 40 */
    /* screen-scroll */
    #screen-scroll { display: none; }
    /* main */
    .m-intro {width: 100%; height: 150vw;}
    .m-intro .logo h2 { font-size: 16vw; letter-spacing: -2px;}
    @keyframes logoBottom-show {
        0% { top: 22.8%; left: 20%; }
        100% { opacity: 1; top: 22.8%; left: 8%; }
    }
    .m-intro .introduce { display: none; }
    .m-intro .borderBox .toRight { position: absolute; top: 40%; left: 8%; }
    @keyframes spanYear-show {
        0% { opacity: 0; top: 37%; left: 105%; }
        100% { opacity: 1; top: 37%; left: 84.1%; }
    }
    .m-intro .mainImg {
        top: 45%; left: 50%;
        width: 80vw; height: 76vw;
        animation: mainImg-show 1.5s 250ms 1 ease; animation-fill-mode: forwards;
    }
    .m-about { height: 450vw; }
    .m-about .txtSlideBox > div:nth-child(1):before { font-size: 2vw; top: -35%; font-family: var(--font-medium);}
    .m-about .txtSlideBox > div:nth-child(2):before { font-size: 2vw; top: -35%; font-family: var(--font-medium);}
    .m-about .codingIntro .background { height: 100vw; }
    .m-about .codingIntro .text { font-size: 3vw; margin: 2vw 2vw; line-height: 2;}
    .m-about .codingIntro .num {display: none}
    .m-about .skill { display: block; background: #fff;}
    .m-about .skill > div:nth-child(1) { position: absolute; left: 20%; top: 35%; }
    .m-about .skill > div:nth-child(2) { position: absolute; left: 20%; top: 48%; }
    .m-about .skill > div:nth-child(3) { position: absolute; left: 20%; top: 61%; }
    .m-about .skill > div:nth-child(4) { position: absolute; left: 20%; top: 74%; }
    .m-about .skill > div:nth-child(5) { position: absolute; left: 20%; top: 87%; }
    .m-about .skill > div:nth-child(1):after { font-size: 8vw; -webkit-text-stroke: #000 0.1vw; left: 28%; top: 30%; }
    .m-about .skill > div:nth-child(2):after { font-size: 8vw; -webkit-text-stroke: #000 0.1vw; left: 34%; top: 30%; }
    .m-about .skill > div:nth-child(3):after { font-size: 8vw; -webkit-text-stroke: #000 0.1vw; left: 34%; top: 30%; }
    .m-about .skill > div:nth-child(4):after { font-size: 8vw;  -webkit-text-stroke: #000 0.1vw; left: 34%; top: 30%; }
    .m-about .skill > div:nth-child(5):after { font-size: 8vw; -webkit-text-stroke: #000 0.1vw; left: 34%; top: 30%; }
    .m-about .skill > div:nth-child(1):before { font-size: 8vw; -webkit-text-stroke: #fff 0.1vw; top: 55%; left: 24%; z-index: 10;}
    .m-about .skill > div:nth-child(2):before { font-size: 8vw; -webkit-text-stroke: #fff 0.1vw; top: 55%; left: -10%; z-index: 10;}
    .m-about .skill > div:nth-child(3):before { font-size: 8vw; -webkit-text-stroke: #fff 0.1vw; top: 55%; left: 13%; z-index: 10;}
    .m-about .skill > div:nth-child(4):before { font-size: 8vw; -webkit-text-stroke: #fff 0.1vw; top: 55%; left: 31.5%; z-index: 10;}
    .m-about .skill > div:nth-child(5):before { font-size: 8vw; -webkit-text-stroke: #fff 0.1vw; top: 55%; left: 21%; z-index: 10;}
    .m-about .skill > div { margin-left: 4vw; }
    .m-about .skill > div .wrapper {width: 50vw; height: 50vw;}
    .m-about .skill > div .wrapper svg { width: 100vw; height: 100vw;}
    @keyframes java-fill { 0% {transform: translate(0, 300px);} 100% {transform: translate(0, 28px);} }
    @keyframes jQ-fill { 0% {transform: translate(0, 300px);} 100% {transform: translate(0, 18px);} }
    @keyframes css-fill { 0% {transform: translate(0, 300px);} 100% {transform: translate(0, 8px);} }
    @keyframes ill-fill { 0% {transform: translate(0, 300px);} 100% {transform: translate(0, 18px);} }
    .m-coming > div .selfBox .leftBox .backCode {font-size: 0.1vw;}
    .m-coming > div .selfBox .rightBox p { -webkit-text-stroke: 0.2vw #000; }
    .m-follow .textBox > div span {width: 12vw; height: 12vw; line-height: 12.1vw; font-size: 0.5vw; letter-spacing: -0.2px; left: 43%; bottom: -25%; }

    /* animation */
    .a-snake {margin-top: 2000vw;}
    .a-snake .txt {font-size: 6vw;}
    .a-aniBox .aniSection .using { left: 40%; font-size: 0.5vw; }
    .a-aniBox .aniSection .txtBox { top: 30%; }
    .a-gradientBk div span {
        width: 3.5vw; height: 3.5vw; 
        margin-top: -1.5vw;
        border-top: 0.15vw solid #fff; 
        border-right: 0.15vw solid #fff; 
    }
    .a-gradientBk p { top: 71%; left: 47.6%; }
}


