/* fonts */
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, html, body {margin: 0; padding: 0; box-sizing: border-box; font-family: 'GmarketSansMedium';}

#wrap {width: 100vw; height: 20000px;}

#header {
    position: fixed;
    z-index: 100000;
    width: 100vw; height: 7vh;
    background: #000;
}
#section1 {width: 100vw; height: 20000px;}
#into {
    width: 100vw; height: 2000px;
    position: relative;
    background: #cccccc;
}
#about {}
#text1 {}
#text2 {}
#follow {}

/* header */
.header {padding: 0 2vw;}
.header ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.3vw;
    line-height: 7vh;
}
.header ul li a {color: #fff;}

/* section1 */
.into {}
.into .logo {
    position: absolute; top: 8%; left: 5%; 
    width: 70vw; height: 80vh;
}
.into .logo svg {font-family: 'GmarketSansBold'; font-weight: bold;}
.into .introduce {}
.into .border-box .toRight {}
.into .border-box .toBottom {}

