/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* screen-scroll */
#screen-scroll {
    position: fixed; right: 15px; top: 15px;
    width: 60px; height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.5);
    z-index: 1000000;
}

/* layout */
#wrap {width: 100vw; height: 500000px;}

#section1 {width: 100vw; height: 7760px; overflow: hidden;}
#section2 {width: 100vw; height: 16000px; position: relative; overflow: hidden;}


/* section1 */
#into {width: 100vw; height: 1800px; position: relative;}
#about {width: 100vw; height: 1950px; position: relative; overflow: hidden;}
#text-sec1 {width: 100vw; height: 1000px; position: relative;}
#text-sec2 {width: 100vw; height: 2050px; position: relative;}
#follow {width: 100vw; height: 960px; background: #ff0000; position: relative;}
.container { margin: 0 auto; height: inherit; padding: 0 10vw; }

/* into */
.into .logo span {
    font-family: 'GmarketSansBold';
    font-size: 11.2vw;
    line-height: 0.8;
    -webkit-text-stroke: 3px #000;
    letter-spacing: -10px;
}
.into .logo .logo_top {
    position: absolute; top: 13%; left: 8%; 
    z-index: 5; 
    opacity: 0;
    color: #fff;
    animation: logoTop-show 1s 1 ease; animation-fill-mode: forwards; 
}
@keyframes logoTop-show {
    0% {
        opacity: 0;
        top: 13%; left: 20%;
    }
    100% {
        opacity: 1;
        top: 13%; left: 8%;
    }
}
.into .logo .logo_bottom {
    position: absolute; top: 24.5%; left: 8%;
    opacity: 0;
    color: #000;
    animation: logoBottom-show 1s 200ms 1 ease; animation-fill-mode: forwards;  
}
@keyframes logoBottom-show {
    0% {
        opacity: 0;
        top: 24.5%; left: 20%;
    }
    100% {
        opacity: 1;
        top: 24.5%; left: 8%;
    }
}
.into .introduce {
    position: absolute; top: 38%; left: 8.5%;
    opacity: 0;
    font-size: 1.5vw;
    line-height: 1.2;
    animation: introduce-show 1s 400ms 1 ease; animation-fill-mode: forwards;  
}
@keyframes introduce-show {
    0% {
        opacity: 0;
        top: 38%; left: 20%;
    }
    100% {
        opacity: 1;
        top: 38%; left: 8%;
    }
}
.into .border-box .toRight {
    position: absolute; top: 19.6%; left: 55%;
    width: 35vw; height: 2px; 
    background: #000;
    animation: borderR-show 0.8s 1 ease; animation-fill-mode: forwards; 
}
@keyframes borderR-show {
    0% {
        width: 1vw;
    }
    100% {
        width: 35vw;
    }
}
.into .border-box .toRight:before {
    content: '2021';
    width: 5vw; height: 5vh;
    color: #FF0000;
    opacity: 0;
    font-size: 1vw;
    position: absolute; top: -25px; left: 0;
    animation: spanYear-show 1s 1 ease; animation-fill-mode: forwards;
}
@keyframes spanYear-show {
    0% {
        opacity: 0;
        top: -25px; left: 20%;
    }
    100% {
        opacity: 1;
        top: -25px; left: 0%;
    }
}
.into .border-box .toBottom {
    position: absolute; top: 19.6%; left: 90%;
    width: 2px; height: 55vw; 
    background: #000;
    opacity: 0; 
    animation: borderB-show 1.5s 800ms 1 ease; animation-fill-mode: forwards; 
}
@keyframes borderB-show {
    0% {
        opacity: 1;
        height: 1vw;
    }
    100% {
        opacity: 1;
        height: 55vw;
    }
}
.into .border-box .toBottom:before {
    content: '';
    position: absolute; top: 98%; left: -700%;
    border-top: 15px solid transparent;
    border-right: 30px solid black;
    border-bottom: 15px solid transparent;
    transform: rotate(270deg);
}
.into .mainImg {
    position: absolute; top: 60%; left: 30%;
    width: 40vw; height: 72vh;
    background: #ccc;
    background: url(../image/mainImg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

/* about */
.about span {
    font-family: 'GmarketSansBold';
    font-size: 1.5vw;
    color: #FF0000;
}
.about .redText1 {
    position: absolute; top: 7.5vw; left: 10vw;
}
.about .redText2 {
    position: absolute; top: 25.8vw; left: 10vw;
}
.about .text-slide > div {
    margin-top: 10vw;
    font-size: 7.5vw;
    white-space: nowrap;
    border-top: 2px solid #000;
    border-bottom: 2px solid;
    -webkit-text-stroke: 3px #000;
}
.about .text-slide .slideBox1 {
    border-bottom: 2px solid #000;
    padding: 1vw 0 0.3vw 0;
}
.about .text-slide .slideBox1 p.move {animation: tSlide 30s infinite linear;}
@keyframes tSlide {
    0% {transform: translate(0%, 0%);}
    50% {transform: translate(-238%, 0%);}
    100% {transform: translate(0%, 0%);}
}
.about .text-slide .slideBox2 {
    margin-top: 5.5vw;
    border-top: 2px solid #000;
    padding: 1vw 0 0.3vw 0;
}
.about .text-slide .slideBox2 p {
    transform: translate(-158%, 0);
}
.about .text-slide .slideBox2 p.move {animation: tSlide2 26s infinite linear;}
@keyframes tSlide2 {
    0% {transform: translate(-158%, 0);}
    50% {transform: translate(0%, 0%);}
    100% {transform: translate(-158%, 0%);}
}
.about .text-slide > div > p {
    margin-left: 9.5vw;
}
.about .coding-intro {
    position: relative;
}
.about .coding-intro .back {
    margin-top: 5vw;
    position: absolute; top: 0; right: 0;
    width: 91vw; height: 74vh;
    background: #000;
}
.about .coding-intro .num {
    position: absolute; top: 3.3vw; left: 4.5vw;
}
.about .coding-intro .num:before {
    content: '';
    width: 0.1vw; height: 58vh;
    background: #ff0000;
    position: absolute; top: 0.7vw; left: 2.5vw;

}
.about .coding-intro .num span {
    display: block;
    font-family: serif;
    font-family: 'Fira Code', monospace;
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 1.82;
    text-align: center;
}
.about .coding-intro .text {
    color: #fff;
    font-size: 1.5vw;
    font-size: 1.4vw;
    line-height: 1.8;
    margin: 3.2vw 0 0 10.5vw;
}
.about .coding-intro .text span {
    font-family: 'Fira Code', monospace;
    font-weight: 300;
    font-size: 1.5vw;
}
.about .skill {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 0.5vw;
}
.skill .skill-sub {
    position: absolute; left: 11.8vw; top: 58.3vw;
    display: flex;
    justify-content: space-between;
    width: 83.3vw;
}
.skill .skill-sub li {
    font-size: 1.9vw;
    font-family: 'GmarketSansBold';
}
.skill .skill-sub li:nth-child(2) {
    position: absolute; left: 15.1vw; top: 0vw;
}
.skill .skill-sub li:nth-child(3) {
    position: absolute; left: 36.5vw; top: 0vw;
}
.skill .skill-sub li:nth-child(4) {
    position: absolute; left: 57.9vw; top: 0vw;
}
.skill .skill-per {
    z-index: 5;
    position: absolute; left: 10.2vw; top: 49vw;
    display: flex;
    justify-content: space-between;
    width: 85vw;
}
.about .skill-per li {
    font-size: 3.5vw;
    font-family: 'GmarketSansBold';
    color: #fff;
    -webkit-text-stroke: 1px #000;
} 
.about .skill-per li:nth-child(2) {
    position: absolute; left: 19.9vw; top: 0vw;
}
.about .skill-per li:nth-child(3) {
    position: absolute; left: 38.8vw; top: 0vw;
}
.about .skill-per li:nth-child(4) {
    position: absolute; left: 57.5vw; top: 0vw;
}
.about .skill > div {
    margin-top: 47vw;
    transform: scale(1.6);
    margin-left: 11vw;
}
.about .skill > div .wrapper {
    border-radius: 50%;
    border: 2px solid #000;
    width: 150px;
    height: 150px;
    background: #fff;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}
.about .skill > div .wrapper .fill {
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.2, .6, .8, .4);
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.about .skill > div .wrapper .waveShape {
    animation-name: waveAction;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    width: 150px;
    height: 150px;
    fill: #000;
}
@keyframes waveAction {
    0% {transform: translate(-150px, 0);}
    100% {transform: translate(0, 0);}
}
.about .skill .s-html .wrapper .fill {animation-name: HfillAction;}
.about .skill .s-java .wrapper .fill {animation-name: JSfillAction;}
.about .skill .s-jq .wrapper .fill {animation-name: JQfillAction;}
.about .skill .s-css .wrapper .fill {animation-name: CfillAction;}
.about .skill .s-illu .wrapper .fill {animation-name: IfillAction;}
@keyframes HfillAction {
    0% {transform: translate(0, 150px);}
    100% {transform: translate(0, 1px);}
}
@keyframes JSfillAction {
    0% {transform: translate(0, 150px);}
    100% {transform: translate(0, 35px);}
}
@keyframes JQfillAction {
    0% {transform: translate(0, 150px);}
    100% {transform: translate(0, 25px);}
}
@keyframes CfillAction {
    0% {transform: translate(0, 150px);}
    100% {transform: translate(0, 15px);}
}
@keyframes IfillAction {
    0% {transform: translate(0, 150px);}
    100% {transform: translate(0, 35px);}
}

/* text-sec1 */
.text-sec1 {
    display: flex;
}
.text-sec1 > div {
    height: 80vh;
    margin-top: 24vh;
}
.text-sec1 .selfCa{
    flex: 1 1 45%;
    margin-top: 14.4vw;
}
.text-sec1 .selfCa .selfPic {
    z-index: 5;
    position: relative;
    width: 36.5vw; height: 77vh; 
    background: url(../image/MaskGroup.png) center center;
    background-size: cover;
}
.text-sec1 .selfCa .back-code {
    position: absolute; top: 12.5vw; left: 10vw;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 2;
}
.text-sec1 .text-box {
    flex: 1 1 40%;
    margin-top: 12.3vw;
}
.text-sec1 .text-box p {
    font-family: 'GmarketSansBold';
    font-size: 9.1vw;
    color: #fff;
    -webkit-text-stroke: 2px #000;
    line-height: 1.15;
}
.text-sec1 .text-box p span {
    color: #000;
}

/* text-sec2 */
.text-sec2 {}
.text-sec2 .text-box {
    position: relative; top: 820px;
    z-index: 50;
    font-family: 'GmarketSansBold';  
    font-size: 7.5vw;
    text-align: center;
}
.text-sec2 .question-box {
    position: absolute; top: 0; left: 10vw;    
    width: 80vw; height: 2050px;
    overflow: hidden;
}
.text-sec2 .question-box > div {
    position: absolute;
    font-family: 'GmarketSansBold';
    color: #fff;
    -webkit-text-stroke: 1px #000;
}
.text-sec2 .question-box .mark1 {
    font-size: 3.5vw;
    left: 20%;
    bottom: 10%;
    animation: mark-move 10s -4600ms ease-in infinite;
}
.text-sec2 .question-box .mark2 {
    font-size: 5vw;
    left: 30%;
    bottom: 30%;
    animation: mark-move 10s -2070ms ease-in infinite;
}
.text-sec2 .question-box .mark3 {
    font-size: 8vw;
    left: 35%;
    bottom: 15%;
    animation: mark-move 10s -5ms ease-in infinite;
}
.text-sec2 .question-box .mark4 {
    font-size: 2vw;
    left: 70%;
    bottom: 20%;
    animation: mark-move 10s -700ms ease-in infinite;
}
.text-sec2 .question-box .mark5 {
    font-size: 5vw;
    left: 39%;
    bottom: 0%;
    animation: mark-move 10s -20ms ease-in infinite;
}
.text-sec2 .question-box .mark6 {
    font-size: 7.6vw;
    left: 63%;
    bottom: 5%;
    animation: mark-move 10s -3000ms ease-in infinite;
}
.text-sec2 .question-box .mark7 {
    font-size: 6.6vw;
    left: 10%;
    bottom: 30%;
    animation: mark-move 10s -60ms ease-in infinite;
}
.text-sec2 .question-box .mark8 {
    font-size: 8.5vw;
    left: 55%;
    bottom: 0%;
    animation: mark-move 10s -1700ms ease-in infinite;
}
.text-sec2 .question-box .mark9 {
    font-size: 2.8vw;
    left: 78%;
    bottom: 0%;
    animation: mark-move 10s -3700ms ease-in infinite;
}
.text-sec2 .question-box .mark10 {
    font-size: 3.8vw;
    left: 90%;
    bottom: 5%;
    animation: mark-move 10s -1020ms ease-in infinite;
}
.text-sec2 .question-box .mark11 {
    font-size: 1.5vw;
    left: 12%;
    bottom: 25%;
    animation: mark-move 10s -8800ms ease-in infinite;
}
.text-sec2 .question-box .mark12 {
    font-size: 7.3vw;
    left: 50%;
    bottom: 0%;
    animation: mark-move 10s -5700ms ease-in infinite;
}
.text-sec2 .question-box .mark13 {
    font-size: 6vw;
    left: 20%;
    bottom: 0%;
    animation: mark-move 10s -6300ms ease-in infinite;
}
.text-sec2 .question-box .mark14 {
    font-size: 8vw;
    left: 85%;
    bottom: 10%;
    animation: mark-move 10s -370ms ease-in infinite;
}
.text-sec2 .question-box .mark15 {
    font-size: 2vw;
    left: 73%;
    bottom: 0%;
    animation: mark-move 10s -10ms ease-in infinite;
}
.text-sec2 .question-box .mark16 {
    font-size: 7vw;
    left: 54%;
    bottom: 30%;
    animation: mark-move 10s -3720ms ease-in infinite;
}
.text-sec2 .question-box .mark17 {
    font-size: 13vw;
    left: 3%;
    bottom: 20%;
    animation: mark-move 10s -2070ms ease-in infinite;
}
.text-sec2 .question-box .mark18  {
    font-size: 6.5vw;
    left: 58%;
    bottom: 0%;
    animation: mark-move 10s -6010ms ease-in infinite;
}
.text-sec2 .question-box .mark19  {
    font-size: 3vw;
    left: 80%;
    bottom: 10%;
    animation: mark-move 10s -300ms ease-in infinite;
}
.text-sec2 .question-box .mark20  {
    font-size: 5vw;
    left: 20%;
    bottom: 10%;
    animation: mark-move 10s -1010ms ease-in infinite;
}
.text-sec2 .question-box .mark21  {
    font-size: 5vw;
    left: 50%;
    bottom: 0%;
    animation: mark-move 10s -8010ms ease-in infinite;
}
.text-sec2 .question-box .mark22  {
    font-size: 3vw;
    left: 40%;
    bottom: 20%;
    animation: mark-move 10s -10ms ease-in infinite;
}
.text-sec2 .question-box .mark23  {
    font-size: 3.9vw;
    left: 20%;
    bottom: 5%;
    animation: mark-move 10s -8000ms ease-in infinite;
}
.text-sec2 .question-box .mark24  {
    font-size: 9vw;
    left: 40%;
    bottom: 0%;
    animation: mark-move 10s -2010ms ease-in infinite;
}
.text-sec2 .question-box .mark25  {
    font-size: 3.5vw;
    left: 70%;
    bottom: 10%;
    animation: mark-move 10s -7010ms ease-in infinite;
}
.text-sec2 .question-box .mark26  {
    font-size: 4vw;
    left: 88%;
    bottom: 5%;
    animation: mark-move 10s -3000ms ease-in infinite;
}
.text-sec2 .question-box .mark27  {
    font-size: 11vw;
    left: 62%;
    bottom: 0%;
    animation: mark-move 10s -5010ms ease-in infinite;
}
.text-sec2 .question-box .mark28  {
    font-size: 4vw;
    left: 47%;
    bottom: 10%;
    animation: mark-move 10s -4000ms ease-in infinite;
}
.text-sec2 .question-box .mark29  {
    font-size: 4.5vw;
    left: 20%;
    bottom: 5%;
    animation: mark-move 10s -2510ms ease-in infinite;
}
.text-sec2 .question-box .mark30  {
    font-size: 11vw;
    left: 30%;
    bottom: 0%;
    animation: mark-move 10s -800ms ease-in infinite;
}
@keyframes mark-move {
    0% {
        transform: translatey(0);
    }
    100% {
        transform: translatey(-2000%);
    }
}

/* follow */
.follow {
    overflow: hidden;
}
.follow .text-box {
      padding-top: 14vw;
} 
.follow .text-box > p {
    font-family: 'GmarketSansBold';
    font-size: 7.7vw;
    color: #000;
    letter-spacing: -7px;
    line-height: 1.2;
    -webkit-text-stroke: 3px #000;
    text-align: center;
}
.follow .text-box > p:nth-child(1) {
      color: #ff0000;
}
.follow span {
    z-index: 5;
    position: absolute; top: 80%; left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'GmarketSansBold';
    font-size: 1.1vw;
    letter-spacing: -2px;
}
.follow span:before {
    z-index: -1;
    content: '';
    position: absolute; left: -14.7%; top: -77%;
    width: 4vw; height: 4vw; 
    border-radius: 50%;
    background: #fff;
}
.follow .back-gradient {
    width: 100vw; height: 20vw;
    background: yellow;
} 


/* section2 */
#sec2-1 {}
#sec2-2 {}
#sec2-3 {}
#sec2-4 {}

.back-gradient {
    width: 100vw; height: 200vh;
    background-image: linear-gradient(to bottom, #ff0000, #ffff);
}
.s-fixed {
    position: fixed; top: 50%; left: 50%;
    transform: translate(-20%, -50%);
    z-index: 1000;
}

/* sec2-1 */
.sec2-1 {width: 100vw; height: 100vh;}
.sec2-1 .s2-1Title {
    z-index: 1100;
    font-family: 'GmarketSansBold';
    -webkit-text-stroke: 1px #000;
    letter-spacing: -8px;
    white-space: nowrap;
    font-size: 8vw;
    left: 150%; top: 90%;
}
.sec2-1 .s2-1Img {
    width: 63.5vw; height: 95vh;
    left: 150%; top: 53%;
}
.sec2-1 .s2-1Tag {
    left: 150%; top: 30%;
    display: flex;
}
.sec2-1 .s2-1Tag > li {
    margin-right: 0.3vw;
    border: 1px solid #9B9B9B;
    padding: 1vw 1vw 0.6vw 1vw;
    font-size: 1.1vw;
    line-height: 1vw;
}
.sec2-1 .s2-1Txt {
    left: 150%; top: 51%;
    white-space: nowrap;
    font-family: 'GmarketSansLight';
    font-size: 1.5vw;
}
.sec2-1 .s2-1btn {
    left: 150%; top: 69%;
    display: flex;
}
.sec2-1 .s2-1btn > li a {
    display: inline-block;
    width: 18vw;
    font-size: 1.1vw;
    line-height: 1.5vw;
    text-align: center;
    font-family: 'GmarketSansBold';
    letter-spacing: 10px;
    padding: 1vw 0vw 0.7vw 0vw;
    border: 1px solid #000;
    background: #fff;
}
.sec2-1 .s2-1btn > li:nth-child(1) a { border-right: none; }
.sec2-1 .s2-1btn > li a:hover {
    background: #000;
    color: #fff;
}

/* sec2-2 */
.sec2-2 {width: 100vw; height: 100vh;}
.sec2-2 .s2-2Title {
    z-index: 1100;
    font-family: 'GmarketSansBold';
    -webkit-text-stroke: 1px #000;
    letter-spacing: -8px;
    white-space: nowrap;
    font-size: 8vw;
    left: 23.55%; top: 90%;
}
.sec2-2 .s2-2TitleBefore {
    left: 153%; top: 50%;
    opacity: 1;
}
.sec2-2 .s2-2TitleAfter {
    z-index: 1100;
    font-family: 'GmarketSansBold';
    -webkit-text-stroke: 1px #000;
    letter-spacing: -8px;
    white-space: nowrap;
    font-size: 8vw;
    left: 51.1%; top: 150%;
}
.sec2-2 .s2-2Img01 {
    width: 50vw; height: 50vh;
    left: 150%; top: 26%;
}
.sec2-2 .s2-2Img02 {
    width: 42vw; height: 60vh;
    left: 39%; top: 150%;
}
.sec2-2 .s2-2Tag {
    left: 150%; top: 38%;
    display: flex;
}
.sec2-2 .s2-2Tag > li {
    margin-right: 0.3vw;
    border: 1px solid #9B9B9B;
    padding: 1vw 1vw 0.7vw 1vw;
    font-size: 1.1vw;
    line-height: 1vw;
}
.sec2-2 .s2-2Txt {
    left: 150%; top: 63%;
    white-space: nowrap;
    font-family: 'GmarketSansLight';
    font-size: 1.5vw;
}
.sec2-2 .s2-2btn {
    left: 150%; top: 83%;
    display: flex;
}
.sec2-2 .s2-2btn > li a {
    display: inline-block;
    width: 18vw;
    font-size: 1.1vw;
    line-height: 1.5vw;
    text-align: center;
    font-family: 'GmarketSansBold';
    letter-spacing: 10px;
    padding: 1vw 0vw 0.7vw 0vw;
    border: 1px solid #000;
    background: #fff;
}
.sec2-2 .s2-2btn > li:nth-child(1) a { border-right: none; }
.sec2-2 .s2-2btn > li a:hover {
    background: #000;
    color: #fff;
}
.sec2-2 .phone {
    width: 16vw; height: 60vh;
    border: 1px solid #9B9B9B;
    border-radius: 45px;
    left: 120%; top: 60%;
}
.sec2-2 .s2-2Img03 {
    width: 14.5%;
    left: 83.5%; top: 360%;
}

/* sec2-3 */
.sec2-3 {width: 100vw; height: 100vh;}
.sec2-3 .s2-3Title {
    left: 150%; top: 47%;
    font-family: 'GmarketSansBold';
    -webkit-text-stroke: 1px #000;
    letter-spacing: -8px;
    white-space: nowrap;
    font-size: 8vw;
}
.sec2-3 .s2-3Img {
    width: 40vw; height: 60vh;
    left: 150%; top: 53%;
}
.sec2-3 .s2-3ImgWrap {
    width: 30vw; height: 30vh;
}
.sec2-3 .s2-3ImgWrap .s2-4Img01 {}
.sec2-3 .s2-3Tag {
    left: 150%; top: 25.7%;
    display: flex;
}
.sec2-3 .s2-3Tag > li {
    margin-right: 0.3vw;
    border: 1px solid #9B9B9B;
    padding: 1vw 1vw 0.7vw 1vw;
    font-size: 1.1vw;
    line-height: 1vw;
}
.sec2-3 .s2-3Txt {
    left: 150%; top: 66%;
    white-space: nowrap;
    font-family: 'GmarketSansLight';
    font-size: 1.5vw;
}
.sec2-3 .s2-3btn {
    left: 150%; top: 79.5%;
    display: flex;
}
.sec2-3 .s2-3btn > li a {
    display: inline-block;
    width: 18vw;
    font-size: 1.1vw;
    line-height: 1.5vw;
    text-align: center;
    font-family: 'GmarketSansBold';
    letter-spacing: 10px;
    padding: 1vw 0vw 0.7vw 0vw;
    border: 1px solid #000;
    background: #fff;
}
.sec2-3 .s2-3btn > li:nth-child(1) a { border-right: none; }
.sec2-3 .s2-3btn > li a:hover {
    background: #000;
    color: #fff;
}